 <%= form_for( [@question,@answer]) do |f| %>
  <%= render "shared/error_messages" , object:@answer %>
  <p>
   <%= f.label :body, "Answer" %> 
   <%= f.text_field :body, placeholder: "Please answer the question" %> 
   
   <%= f.submit "Submit" %> <br />
  </p>
<% end %>